@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

:root {
  font-family: "Pokemon Solid", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(245, 245, 245, 1) 0%,
    rgba(249, 212, 212, 0.5704482476584384) 33%,
    rgba(255, 51, 51, 1) 100%,
    rgba(255, 51, 51, 1) 158%
  );
  text-shadow: -1px 1px 2px #1d235e, 1px 1px 2px #1d235e, 1px -1px 0 #1d235e,
    -1px -1px 0 #1d235e;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: yellow;
}

img {
  image-rendering: pixelated;
  width: 192px;
  height: 192px;
}

input[type="text"] {
  width: 30%;
  height: 32px;
  border-radius: 5%;
  border: none;
}

button {
  height: 35px;
  border-radius: 5%;
  border: none;
  margin: 5px;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ol {
  align-items: start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.colored {
  color: #646cff;
}

.results {
  text-align: center;
  align-items: center;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
